@model IEnumerable<AWPO_WebMobile.DbModel.T_OfficersVacanciesMaster>

@{
    ViewBag.Title = "Index Govt & Comp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index Govt & Comp</h2>

<p>
    @Html.ActionLink("Create New", "Create_Govt_Comp")
</p>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam_InterviewDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam_InterviewDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit_Govt_Comp", new { id = item.OfficersVacancyID }) |
                @Html.ActionLink("Delete", "Delete_Govt_Comp", new { id = item.OfficersVacancyID })
            </td>
        </tr>
    }
</table>
