@model IEnumerable<AWPO_WebMobile.DbModel.M_ExamMater>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h2>Index : <small>Exam Pattern</small></h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdfPath)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PdfPath)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ExamID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ExamID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ExamID })
                </td>
            </tr>
        }

    </table>
</div>